services:
  db:
    image: postgres:18
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASS}
    shm_size: 1gb
    ports:
      - "127.0.0.1:${DB_PORT}:5432"
    # command: ["postgres", "-c", "log_statement=all"]
    volumes:
      - ./data/db:/var/lib/postgresql
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 3s
      timeout: 3s
      retries: 30

  # Postgres Web UI at http://127.0.0.1:8080/
  pgadmin:
    image: dpage/pgadmin4:9
    ports:
      - "127.0.0.1:8080:80"
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_DEFAULT_EMAIL}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_DEFAULT_PASSWORD}
    volumes:
      - pgadmin-data:/var/lib/pgadmin

  squid-processor:
    build: .
    environment:
      DB_URL: postgres://${DB_USER}:${DB_PASS}@${DB_HOST}:5432/${DB_NAME}
      QF_NODE_RPC: ${QF_NODE_RPC}
    ports:
      - "127.0.0.1:33015:33015" # prometheus metrics
    restart: unless-stopped
    depends_on:
      db:
        condition: service_healthy
      squid-migration-apply:
        condition: service_completed_successfully
    command: ["sqd", "process:prod:nomigration"]

  squid-graphql-server:
    build: .
    environment:
      DB_NAME: ${DB_NAME}
      DB_USER: ${DB_USER}
      DB_PASS: ${DB_PASS}
      DB_HOST: ${DB_HOST}
      DB_PORT: 5432
      GQL_PORT: ${GQL_PORT}
    ports:
      - "127.0.0.1:${GQL_PORT}:${GQL_PORT}" # GraphQL server
    depends_on:
      db:
        condition: service_healthy
      squid-migration-apply:
        condition: service_completed_successfully
    command: ["sqd", "serve:prod"]

  squid-migration-apply:
    build: .
    environment:
      DB_NAME: ${DB_NAME}
      DB_USER: ${DB_USER}
      DB_PASS: ${DB_PASS}
      DB_HOST: ${DB_HOST}
      DB_PORT: 5432
    depends_on:
      db:
        condition: service_healthy
    command: ["sqd", "migration:apply"]

  # qf-node:
  #   image: qfnetwork/qf-node:0.1.8
  #   ports:
  #     # - "9944:9944"
  #     - "127.0.0.1:9715:9615" # prometheus metrics
  #   command:
  #     - ./qf-node
  #     - --chain=qf-devnet
  #     - --base-path=/srv/qf-node
  #     - --rpc-port=9944
  #     - --rpc-external
  #     - --rpc-cors=all
  #     - --prometheus-port=9615
  #     - --prometheus-external
  #     - --bootnodes=/ip4/103.113.69.222/tcp/30333/p2p/12D3KooWMWYPNvMSSstMoADACyX7EppjuRWtTeugFcVEQcrrjvoR
  #     - --pruning=archive
  #   volumes:
  #     - ./data/qf-node:/srv/qf-node
  #   restart: unless-stopped

  # hasura:
  #   image: hasura/graphql-engine:v2.15.2
  #   ports:
  #     - "127.0.0.1:8880:8080"
  #   environment:
  #     HASURA_GRAPHQL_DATABASE_URL: postgres://squid:squid@postgres:5432
  #     HASURA_GRAPHQL_ENABLE_CONSOLE: true
  #   depends_on:
  #     - db
  #   restart: unless-stopped

volumes:
  pgadmin-data:
